










*{       
        border: 0;
        background-color: #22a6b3;
}
.h1{
        background-color: antiquewhite;
}
body{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
.compare{
        width: 100%;
        height: auto;
}
.section{
        float: left;
        width: 50%;
}
.article{
        float: right;
        width: 50%;
}
